<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Main Route</h1>
    <div>
      <p>
        Note: Downloading is directly achieved by directly appending the image
        name.
      </p>
      <p>i.e  <a href="images/xxxxxxx.png">localhost:3050/images/xxxxxxx.png</a></p>
     
    </div>
    <div>
      <button type="submit"><a href="/upload">Upload</a></button>
    </div>
  </body>
</html>
